@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ADECS</h1>
    <p class="lead">ADECS - É o campo de Ceilândia Sul da Assembleia de Deus Ministério Internacional do Guará. Objetiva fazer Deus conhecido por meio da Bíblia e transformação da vida nos seus diversos aspectos.</p>
    <p><a href="https://www.youtube.com/channel/UCxdHbuSwmORGUJWT2x9KMWg" class="btn btn-primary btn-lg">Canal Youtube &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Missões</h2>
        <p>
            O Campo da ADECS está em alguns países com trabralhos missionários por meio da vonluntariedade de alguns missionários e mantenedores.
        </p>
        <p><a class="btn btn-default" href="#">Conheça mais... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Programações</h2>
        <p>Nos acmpanhe nas redes sociais, faça parte desta família que também busca o crescimento do ser nos diversos acpetos, esperitual, emocional, financeiro, saúde, etc...busca ser benção na vida de outras pessoas e glorificar a Deus pelo stilo de vida.</p>
        <p><a class="btn btn-default" href="#">Saiba mais... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mantenedores</h2>
        <p>Seja um de nossos mantenedores, levando a palavra de Deus e transformação de vida.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Seja Parceiro &raquo;</a></p>
    </div>
</div>